@page
@model GoodsPushModel
@{
    ViewData["Title"] = "商品添加";
    ViewData["Index"] = 2;

}
<div class="jumbotron">
    <div class="container">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>
<div class="container">
    <form class="form" method="post" asp-page-handler="submitGoods" enctype="multipart/form-data">
        <div style="margin-top:50px;" class="row">
            <label class="col-xs-6 col-sm-4 " for="goodsTitle">商品标题</label>
            <input id="goodsTitle" asp-for="GoodsModel.GoodsTitle" class="form-control col-xs-6 col-sm-4" type="text" />
        </div>

        <div class="row">
            <label class="col-xs-6 col-sm-4" for="goodsDetail">商品简介</label>
            <textarea id="goodsDetail" asp-for="GoodsModel.GoodsDetail" class="form-control col-xs-6 col-sm-4" rows="6"></textarea>
        </div><div class="row">
            <label class="col-xs-6 col-sm-4" for="goodsColor">商品颜色(每行一个)</label>
            <textarea id="goodsColor" asp-for="GoodsColor" class="form-control col-xs-6 col-sm-4" rows="6"></textarea>
        </div><div class="row">
            <label class="col-xs-6 col-sm-4" for="goodsRule">商品尺寸(每行一个)</label>
            <textarea id="goodsRule" asp-for="GoodsRule" class="form-control col-xs-6 col-sm-4" rows="6"></textarea>
        </div>
        <div class="row">
            <label class="col-xs-6 col-sm-3" for="goodsPayType">商品购买类型</label>
            <select id="goodsPayType" onchange="OnPayTypeChanged(this)" class="form-control col-xs-6 col-sm-3" asp-for="GoodsModel.GoodsPayType">
                <option value="0">2人拼团</option>
                <option value="1">多人拼团</option>
                <option value="2">1分夺宝</option>
            </select>
            <label id="goodsPeopleNumLabel" class="col-xs-6 col-sm-3" style="display:none" for="goodsPeopleNum">参团人数</label>
            <select id="goodsPeopleNum" class="form-control col-xs-6 col-sm-3" style="display:none" asp-for="GoodsModel.GoodsPeopleNum">
                <option value="3">3人</option>
                <option value="4">4人</option>
                <option value="5">5人</option>
                <option value="6">6人</option>
            </select>
        </div>
        <div class="row" id="goodsPriceRow">
            <label class="col-xs-6 col-sm-4" for="goodsPrice">商品团价</label>
            <input id="goodsPrice" asp-for="GoodsModel.GoodsPrice" class="form-control col-xs-6 col-sm-4" />
        </div>
        <div class="row">
            <label class="col-xs-6 col-sm-4" for="goodsOldPrice">商品原价</label>
            <input id="goodsOldPrice" asp-for="GoodsModel.GoodsOldPrice" class="form-control col-xs-6 col-sm-4" />
        </div>
        <br />
        <div class="row">
            <div class="col-xs-6 col-sm-4">
                <input type="file" asp-for="ListImage" max="5" id="goodsListPic" class="hidden"/>
                <div class="input-append">
                    <a class="btn btn-default" onclick="$('input[id=goodsListPic]').click();">选择商品列表图片</a>
                    <span>未选择（必须选择）</span>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4">
                <input type="file" asp-for="MainImages" multiple max="5" id="goodsHomePic" class="hidden"/>
                <div class="input-append">
                    <a class="btn btn-default" onclick="$('input[id=goodsHomePic]').click();">选择商品主图</a>
                    <span>未选择（必须选择）</span>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4">
                <input type="file" asp-for="OtherImages" class="hidden" id="goodsOtherPic" multiple />
                <div class="input-append">
                    <a class="btn btn-default" onclick="$('input[id=goodsOtherPic]').click();">选择商品其他图片</a>
                    <span>未选择（必须选择）</span>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <button style="margin-top:30px;" class="btn btn-lg btn-success col-xs-6 col-sm-4" type="submit">提 交</button>
        </div>
    </form>
</div>
<br />
<br />
<br />
<script>
    function OnPayTypeChanged(obj) {
        var pn = $("#goodsPeopleNum");
        var pnl = $("#goodsPeopleNumLabel");
        if ($(obj).val() == 1) {
            pn.show();
            pnl.show();
        } else {
            pn.hide();
            pnl.hide();
        }
        var priceRow = $("#goodsPriceRow");
        if ($(obj).val() == 2) {
            priceRow.hide();
        } else {

            priceRow.show();
        }
    }
</script>