@page
@model SettingsModel
@{
    ViewData["Index"] = 0;
    ViewData["Title"] = "公司设置";

}
<div class="jumbotron">
    <div class="container">
        <h1>设置</h1>
        <h2>设置公司信息</h2>
    </div>
</div>
<form class="form" method="post" asp-page-handler="submitCompany" enctype="multipart/form-data">
    <div class="row">
        <div class="col-xs-6 col-sm-3">
            <label for="companyName">公司名称</label>
            <input class="form-control" id="companyName" asp-for="Company.CompanyName" type="text" required />
        </div>
        <div class="col-xs-6 col-sm-3">

            <label for="companyServicePhone">公司服务热线</label>
            <input class="form-control" id="companyServicePhone" asp-for="Company.ServicePhone" type="tel" required />
        </div>
    </div>
    <br />
    <button class="btn btn-primary pull-right" type="submit">提 交</button>
    <br style="clear:both;" />
</form>
